body
{
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

h1
{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: justify;
}
h2
{
    color: tomato;
    font-size: 24px;
    text-align: center;
}
p
{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: right;
    margin: 20px;
}

#box
{
    position: sticky;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 100px;
    background-color: lightgreen;
    border: 2px solid black;   
    margin: 20px;
}

.nn
{
    position: sticky;
    top: 100px;
    color:  olivedrab;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    line-height: 1000px; /* Center text vertically */
}
   
P.center 
{
    position: sticky;
    top: 100px;
    right: 10px;
    color: purple;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 24px;
    text-align: center;
    height: 200px;
    width: 1500px;
    background-color: lightcoral;
}